# livekit
livekit
livekit.agents
livekit-api
livekit-agents[google, silero, deepgram]

# openai
livekit.plugins.google
google

# utilities
python-dotenv
twilio
silero-vad
pymongo
sentence-transformers
tqdm

# If any deepgram errors then use this commaand """pip install -U livekit-agents livekit-plugins-deepgram"""
